{{#section 'title'}}My Orders — Shoppers{{/section}}

<div class="site-wrap">

  <div class="container bootstrap snippet">
    <div class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <a href="/user">User</a>
            <span class="mx-2 mb-0">/</span> <strong class="text-black">History</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary font-weight-bold">
                <tr>
                  <th>id</th>
                  <th>add_day</th>
                  <th>delivery_day</th>
                  <th>adress</th>
                  <th>status</th>
                  <th>view detail</th>
                </tr>
              </thead>
              <tbody>
                {{#each bills}}
                <tr>
                  <td>{{id}}</td>
                  <td>{{date_format add_day}}</td>
                  <td>{{date_format delivery_day}}</td>
                  <td>{{address}}</td>
                  <td><span class="label label-info">{{status}}</span></td>
                  <td><a href="/user?ref=history&id={{id}}" class="btn btn-primary btn-sm">🔎</a></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>