{{#section 'title'}}Giỏ hàng — Shoppers{{/section}}

<div class="site-wrap">
  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="index">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="product-thumbnail">Image</th>
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  <th class="product-quantity col-md-2">Quantity</th>
                  <th class="product-total">Total</th>
                  <th class="product-remove">Action</th>
                </tr> 
              </thead>
              <tbody>
                {{#each items}}
                <input name="id" type="hidden" value="{{product.id}}">
                <tr>
                  <td class="product-thumbnail">
                    <img src="images/product/{{product.img}}" alt="Image" class="img-fluid" style="max-height: 80px;">
                  </td>
                  <td class="product-name">
                    <h2 class="h5 text-black"><a href="/shop?id={{product.id}}">{{product.name}}</a></h2>
                  </td>
                  <td>{{number_format product.price}}₫</td>
                  <td>{{quantity}}
                    {{!-- <div class="input-group" style="max-width: 200px;">
                      <div class="input-group-prepend"><button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button></div>
                      <input name="quantity" type="text" class="form-control text-center" value="{{quantity}}">
                      <div class="input-group-append"><button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button></div>
                    </div> --}}
                  </td>
                  <td>{{number_format total}}₫</td>
                  <td>
                    {{!-- <form class="form-horizontal" id="frmUpdateItem" method="post" action="/cart?ref=updated&id={{product.id}}">
                      <button class="btn btn-success btn-sm" type="submit">⭯</button>
                    </form> --}}
                    <form class="form-horizontal" id="frmDeleteItem" method="post" action="/cart?ref=remove&id={{product.id}}">
                      <button class="btn btn-danger btn-sm" type="submit">✕</button>
                    </form>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row mb-5">
            {{!-- <div class="col-md-6 mb-3 mb-md-0">
              <button class="btn btn-primary btn-sm btn-block">Update Cart</button>
            </div> --}}
            <div class="col-md-6">
              <a href="/shop" class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 pl-5">
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">Items</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black">{{count}}</strong>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black">{{number_format total}}₫</strong>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <form method="post" action="/cart?ref=confirm">
                    <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='checkout'">Proceed To Checkout</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>